<section class="orders-show">

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
  </div>

    <div class="panel panel-default items">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Product</th>
          <th>Quantity</th>
          <th>Unit Price</th>
          <th>Item Total</th>
        </tr>
      </thead>
      <tbody>
      <% total = 0 %>
        <% @line_items.each do |line_item| %>
          <%= render 'line_item', product: line_item.product, quantity: line_item[:quantity].to_i %>
          <% total += line_item.product.price * line_item[:quantity] %>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="4">
            TOTAL:
          </th>
          <th>
            <%= humanized_money_with_symbol total %>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
